<app-menu></app-menu>
<div>
    <span id="pageTitle">Product Detail:</span>
</div>
<table *ngIf="product" class="table table-sm table-borderless">
    <tbody>
        <tr>
            <th>Id:</th>
            <td><input [(ngModel)]="product.id" type="number" readonly></td>
        </tr>
        <tr>
            <th>Vendor:</th>
            <td><input [(ngModel)]="product.vendor.name" type="text" readonly></td>
        </tr>
        <tr>
            <th>Part Number:</th>
            <td><input [(ngModel)]="product.partNbr" type="text" readonly></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><input [(ngModel)]="product.name" type="text" readonly></td>
        </tr>
        <tr>
            <th>Price:</th>
            <td><input [(ngModel)]="product.price" type="text" readonly></td>
        </tr>
        <tr>
            <th>Unit:</th>
            <td><input [(ngModel)]="product.unit" type="text" readonly></td>
        </tr>
        <tr>
            <th>Photo Path:</th>
            <td><input [(ngModel)]="product.photoPath" type="text" readonly></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="remove()" class="btn btn-danger">Delete</button>
    <span *ngIf="showVerifyButton">
        | <button (click)="verifyRemove()" class="btn btn-danger">Verify Delete</button>
    </span>
</div>