<app-menu></app-menu>
<div>
    <span id="pageTitle">Product Create:</span>
</div>
<table *ngIf="product" class="table table-sm table-borderless">
    <tbody>
        <tr>
            <th>Id:</th>
            <td><input [(ngModel)]="product.id" type="number" readonly></td>
        </tr>
        <tr>
            <th>Vendor:</th>
            <!-- <td><input [(ngModel)]="product.vendor" type="text"></td> -->
            <td>
                <select [(ngModel)]="product.vendorId">
                    <option *ngFor="let v of vendors" value="{{ v.id }}">{{ v.name }} </option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Part Number:</th>
            <td><input [(ngModel)]="product.partNbr" type="text"></td>
        </tr>
        <tr>
            <th>Description:</th>
            <td><input [(ngModel)]="product.name" type="text"></td>
        </tr>
        <tr>
            <th>Price:</th>
            <td><input [(ngModel)]="product.price" type="number"></td>
        </tr>
        <tr>
            <th>Unit:</th>
            <td><input [(ngModel)]="product.unit" type="text"></td>
        </tr>
        <tr>
            <th>Photo Path:</th>
            <td><input [(ngModel)]="product.photoPath" type="text"></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
</div>